USE [CorexProdDB]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NULL,
	[Accion] [nvarchar](100) NULL,
	[Modulo] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[Equipo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCargo] [varchar](80) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasInsumo]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasInsumo](
	[IdCategoriaInsumo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasProducto]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasProducto](
	[IdCategoriaProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](30) NOT NULL,
	[NumeroDocumento] [varchar](20) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Apellido] [varchar](80) NOT NULL,
	[Sexo] [varchar](20) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](150) NULL,
	[IdCargo] [int] NOT NULL,
	[FechaNacimiento] [date] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaTecnica]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaTecnica](
	[IdFichaTecnica] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[Observacion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFichaTecnica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichaTecnicaDetalle]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichaTecnicaDetalle](
	[IdFichaTecnicaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdFichaTecnica] [int] NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[IdUnidadMedida] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFichaTecnicaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumos]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumos](
	[IdInsumo] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreInsumo] [varchar](150) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[IdCategoriaInsumo] [int] NOT NULL,
	[IdUnidadMedida] [int] NOT NULL,
	[StockMinimo] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[NombreMenu] [varchar](80) NOT NULL,
	[IdMenuPadre] [int] NULL,
	[Orden] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[IdParametro] [int] IDENTITY(1,1) NOT NULL,
	[CodigoParametro] [varchar](100) NOT NULL,
	[NombreParametro] [varchar](150) NOT NULL,
	[ValorParametro] [varchar](500) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisosMenu]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisosMenu](
	[IdPermisoMenu] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdMenu] [int] NOT NULL,
	[PuedeVer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermisoMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[IdCategoriaProducto] [int] NOT NULL,
	[IdUnidadMedida] [int] NOT NULL,
	[StockMinimo] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInsumos]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInsumos](
	[IdStockInsumo] [int] IDENTITY(1,1) NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[StockActual] [decimal](18, 2) NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStockInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadesMedida]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadesMedida](
	[IdUnidadMedida] [int] IDENTITY(1,1) NOT NULL,
	[NombreUnidad] [varchar](100) NOT NULL,
	[Abreviatura] [varchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUnidadMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/05/2026 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[IdRol] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auditoria] ON 

INSERT [dbo].[Auditoria] ([IdAuditoria], [Usuario], [Accion], [Modulo], [Descripcion], [Fecha], [Equipo]) VALUES (1, N'admin', N'LOGIN FALLIDO', N'SEGURIDAD', N'Contraseña incorrecta', CAST(N'2026-05-08T18:31:51.510' AS DateTime), N'DESKTOP-VVV5FHV')
INSERT [dbo].[Auditoria] ([IdAuditoria], [Usuario], [Accion], [Modulo], [Descripcion], [Fecha], [Equipo]) VALUES (2, N'admin1', N'LOGIN FALLIDO', N'SEGURIDAD', N'Intento de inicio de sesión con usuario inexistente', CAST(N'2026-05-08T18:32:12.237' AS DateTime), N'DESKTOP-VVV5FHV')
INSERT [dbo].[Auditoria] ([IdAuditoria], [Usuario], [Accion], [Modulo], [Descripcion], [Fecha], [Equipo]) VALUES (3, N'admin', N'LOGIN', N'SEGURIDAD', N'Inicio de sesión correcto', CAST(N'2026-05-08T18:32:29.073' AS DateTime), N'DESKTOP-VVV5FHV')
SET IDENTITY_INSERT [dbo].[Auditoria] OFF
SET IDENTITY_INSERT [dbo].[Cargos] ON 

INSERT [dbo].[Cargos] ([IdCargo], [NombreCargo], [Estado], [FechaRegistro]) VALUES (1, N'Administrador', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Cargos] ([IdCargo], [NombreCargo], [Estado], [FechaRegistro]) VALUES (2, N'Ventas', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Cargos] ([IdCargo], [NombreCargo], [Estado], [FechaRegistro]) VALUES (9, N'Almacen', 1, CAST(N'2026-05-07T13:57:16.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cargos] OFF
SET IDENTITY_INSERT [dbo].[CategoriasInsumo] ON 

INSERT [dbo].[CategoriasInsumo] ([IdCategoriaInsumo], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'CIERRES', N'Categoría para cierres', 1, CAST(N'2026-05-08T11:09:44.663' AS DateTime))
INSERT [dbo].[CategoriasInsumo] ([IdCategoriaInsumo], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'TELAS', N'Categoría para telas', 1, CAST(N'2026-05-08T11:09:44.663' AS DateTime))
INSERT [dbo].[CategoriasInsumo] ([IdCategoriaInsumo], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, N'BOTONES', N'Categoría para botones', 1, CAST(N'2026-05-08T11:09:44.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[CategoriasInsumo] OFF
SET IDENTITY_INSERT [dbo].[CategoriasProducto] ON 

INSERT [dbo].[CategoriasProducto] ([IdCategoriaProducto], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'BLUSA', N'Prenda superior ligera para dama', 1, CAST(N'2026-05-08T09:44:04.073' AS DateTime))
INSERT [dbo].[CategoriasProducto] ([IdCategoriaProducto], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'CAMISA', N'Prenda superior con cuello y botones', 1, CAST(N'2026-05-08T09:44:14.420' AS DateTime))
INSERT [dbo].[CategoriasProducto] ([IdCategoriaProducto], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, N'CASACA', N'Prenda exterior ligera de abrigo', 1, CAST(N'2026-05-08T09:44:28.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[CategoriasProducto] OFF
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleado], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Sexo], [Telefono], [Email], [Direccion], [IdCargo], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (1, N'DNI', N'48628561', N'Luis', N'Solis Barrios', N'Masculino', N'906792794', N'solisbarriosluis@gmail.com', N'Calle Real 1685', 1, CAST(N'1995-10-03' AS Date), CAST(N'2026-05-06T17:27:18.873' AS DateTime), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Sexo], [Telefono], [Email], [Direccion], [IdCargo], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (3, N'DNI', N'11111111', N'Usuario', N'Ventas', NULL, NULL, NULL, NULL, 2, NULL, CAST(N'2026-05-06T17:49:32.297' AS DateTime), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Sexo], [Telefono], [Email], [Direccion], [IdCargo], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (5, N'DNI', N'76043637', N'Jesùs', N'Eslava', N'Femenino', N'914741417', N'pachecoeslava@gmail.com', N'AV. LA FONTANA 1155', 2, CAST(N'1999-07-31' AS Date), CAST(N'2026-05-07T16:01:32.737' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
SET IDENTITY_INSERT [dbo].[FichaTecnica] ON 

INSERT [dbo].[FichaTecnica] ([IdFichaTecnica], [IdProducto], [Version], [Observacion], [Estado], [FechaRegistro]) VALUES (1, 1, 1, N'', 1, CAST(N'2026-05-08T14:47:39.223' AS DateTime))
INSERT [dbo].[FichaTecnica] ([IdFichaTecnica], [IdProducto], [Version], [Observacion], [Estado], [FechaRegistro]) VALUES (2, 2, 1, N'', 1, CAST(N'2026-05-08T16:08:55.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[FichaTecnica] OFF
SET IDENTITY_INSERT [dbo].[FichaTecnicaDetalle] ON 

INSERT [dbo].[FichaTecnicaDetalle] ([IdFichaTecnicaDetalle], [IdFichaTecnica], [IdInsumo], [Cantidad], [IdUnidadMedida], [Estado], [FechaRegistro]) VALUES (1, 1, 1, CAST(173.000 AS Decimal(18, 3)), 2, 1, CAST(N'2026-05-08T14:48:04.527' AS DateTime))
INSERT [dbo].[FichaTecnicaDetalle] ([IdFichaTecnicaDetalle], [IdFichaTecnica], [IdInsumo], [Cantidad], [IdUnidadMedida], [Estado], [FechaRegistro]) VALUES (2, 1, 2, CAST(1.160 AS Decimal(18, 3)), 2, 1, CAST(N'2026-05-08T14:54:28.503' AS DateTime))
INSERT [dbo].[FichaTecnicaDetalle] ([IdFichaTecnicaDetalle], [IdFichaTecnica], [IdInsumo], [Cantidad], [IdUnidadMedida], [Estado], [FechaRegistro]) VALUES (3, 1, 3, CAST(1.950 AS Decimal(18, 3)), 2, 1, CAST(N'2026-05-08T14:54:48.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[FichaTecnicaDetalle] OFF
SET IDENTITY_INSERT [dbo].[Insumos] ON 

INSERT [dbo].[Insumos] ([IdInsumo], [Codigo], [NombreInsumo], [Descripcion], [IdCategoriaInsumo], [IdUnidadMedida], [StockMinimo], [Estado], [FechaRegistro]) VALUES (1, N'PR1', N'HIPORA AMARILLO FLUOR', N'Tela técnica de alto rendimiento, impermeable, cortaviento y respirable', 2, 2, CAST(500.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T12:12:39.763' AS DateTime))
INSERT [dbo].[Insumos] ([IdInsumo], [Codigo], [NombreInsumo], [Descripcion], [IdCategoriaInsumo], [IdUnidadMedida], [StockMinimo], [Estado], [FechaRegistro]) VALUES (2, N'PR2', N'HIPORA AZUL MARINO', N'tela técnica de alto rendimiento, impermeable, cortaviento y respirable, ideal para protección y confort en cualquier clima.', 2, 2, CAST(500.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T14:50:10.817' AS DateTime))
INSERT [dbo].[Insumos] ([IdInsumo], [Codigo], [NombreInsumo], [Descripcion], [IdCategoriaInsumo], [IdUnidadMedida], [StockMinimo], [Estado], [FechaRegistro]) VALUES (3, N'TE3', N'POLAR AMARILLO FLUOR', N'Tejido térmico suave y respirable, ideal para conservar el calor con alta visibilidad y comodidad.', 2, 2, CAST(500.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T14:52:46.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Insumos] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([IdMenu], [NombreMenu], [IdMenuPadre], [Orden], [Estado]) VALUES (1, N'Inicio', NULL, 1, 1)
INSERT [dbo].[Menu] ([IdMenu], [NombreMenu], [IdMenuPadre], [Orden], [Estado]) VALUES (2, N'Ventas', NULL, 2, 1)
INSERT [dbo].[Menu] ([IdMenu], [NombreMenu], [IdMenuPadre], [Orden], [Estado]) VALUES (3, N'Almacén', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Parametros] ON 

INSERT [dbo].[Parametros] ([IdParametro], [CodigoParametro], [NombreParametro], [ValorParametro], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'RUTA_FICHA_TECNICA', N'Ruta de Fichas Técnicas', N'D:\FICHAS_TECNICAS', N'Ruta base donde se almacenan las fichas técnicas PDF de productos.', 1, CAST(N'2026-05-08T10:23:58.337' AS DateTime))
SET IDENTITY_INSERT [dbo].[Parametros] OFF
SET IDENTITY_INSERT [dbo].[PermisosMenu] ON 

INSERT [dbo].[PermisosMenu] ([IdPermisoMenu], [IdRol], [IdMenu], [PuedeVer]) VALUES (25, 1, 1, 1)
INSERT [dbo].[PermisosMenu] ([IdPermisoMenu], [IdRol], [IdMenu], [PuedeVer]) VALUES (26, 1, 2, 1)
INSERT [dbo].[PermisosMenu] ([IdPermisoMenu], [IdRol], [IdMenu], [PuedeVer]) VALUES (27, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[PermisosMenu] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Codigo], [NombreProducto], [Descripcion], [IdCategoriaProducto], [IdUnidadMedida], [StockMinimo], [Estado], [FechaRegistro]) VALUES (1, N'MT001PXS', N'CONJUNTO TERMICO OBRERO P (SACON+PANTALON) - HIPORA AMARILLO FLUOR/AZUL T. XS', N'Conjunto térmico obrero compuesto por sacón y pantalón de material Hipora color amarillo fluor/azul talla XS.', 7, 1, CAST(350.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T10:14:48.037' AS DateTime))
INSERT [dbo].[Productos] ([IdProducto], [Codigo], [NombreProducto], [Descripcion], [IdCategoriaProducto], [IdUnidadMedida], [StockMinimo], [Estado], [FechaRegistro]) VALUES (2, N'MT001PS', N'CONJUNTO TERMICO OBRERO P (SACON+PANTALON) - HIPORA AMARILLO FLUOR/AZUL T.S', N'Conjunto térmico obrero compuesto por sacón y pantalón de material Hipora color amarillo fluor/azul talla S.', 7, 1, CAST(100.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T14:55:55.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Estado], [FechaRegistro]) VALUES (1, N'Administrador', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Estado], [FechaRegistro]) VALUES (2, N'Ventas', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Estado], [FechaRegistro]) VALUES (5, N'Almacenero', 1, CAST(N'2026-05-07T09:05:37.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[UnidadesMedida] ON 

INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [NombreUnidad], [Abreviatura], [Estado], [FechaRegistro]) VALUES (1, N'Unidad', N'NIU', 1, CAST(N'2026-05-08T09:08:43.463' AS DateTime))
INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [NombreUnidad], [Abreviatura], [Estado], [FechaRegistro]) VALUES (2, N'Metros', N'MT', 1, CAST(N'2026-05-08T09:08:50.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[UnidadesMedida] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpleado], [NombreUsuario], [Clave], [IdRol], [FechaRegistro], [Estado]) VALUES (1, 1, N'admin', N'$2a$11$YtAxBVQ2yZDkuSIsdPdWmOJVrQ1hCQrDrGGLXBl0BcsokAnrBrNuy', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpleado], [NombreUsuario], [Clave], [IdRol], [FechaRegistro], [Estado]) VALUES (4, 3, N'ventas', N'$2a$11$RdpKSF9CCMS18Z7JyMzPqemJYWu8GElDqPvta9ukuyj04WY9NwUE6', 1, CAST(N'2026-05-06T17:50:33.473' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpleado], [NombreUsuario], [Clave], [IdRol], [FechaRegistro], [Estado]) VALUES (6, 5, N'jesus', N'$2a$11$aLAqre5gsSlIFIuaRpDPWOxzuc9lAAMAXrQoVxnTW.LFxJ64sx/V6', 5, CAST(N'2026-05-07T16:10:57.730' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CategoriasInsumo_NombreCategoria]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[CategoriasInsumo] ADD  CONSTRAINT [UQ_CategoriasInsumo_NombreCategoria] UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FichaTecnica_Producto_Version]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[FichaTecnica] ADD  CONSTRAINT [UQ_FichaTecnica_Producto_Version] UNIQUE NONCLUSTERED 
(
	[IdProducto] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FichaTecnicaDetalle_Ficha_Insumo]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[FichaTecnicaDetalle] ADD  CONSTRAINT [UQ_FichaTecnicaDetalle_Ficha_Insumo] UNIQUE NONCLUSTERED 
(
	[IdFichaTecnica] ASC,
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Insumos__06370DAC6F432CDE]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[Insumos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Insumos_Codigo]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[Insumos] ADD  CONSTRAINT [UQ_Insumos_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Parametros_CodigoParametro]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[Parametros] ADD  CONSTRAINT [UQ_Parametros_CodigoParametro] UNIQUE NONCLUSTERED 
(
	[CodigoParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Productos_Codigo]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ_Productos_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StockInsumos_IdInsumo]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[StockInsumos] ADD  CONSTRAINT [UQ_StockInsumos_IdInsumo] UNIQUE NONCLUSTERED 
(
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Usuarios_IdEmpleado]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_IdEmpleado] UNIQUE NONCLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_NombreUsuario]    Script Date: 27/05/2026 14:23:17 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Cargos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cargos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CategoriasInsumo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CategoriasInsumo] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CategoriasProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CategoriasProducto] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[FichaTecnica] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[FichaTecnica] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[FichaTecnica] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Insumos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Insumos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Insumos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PermisosMenu] ADD  DEFAULT ((1)) FOR [PuedeVer]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[StockInsumos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[StockInsumos] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[UnidadesMedida] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[UnidadesMedida] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Cargos] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargos] ([IdCargo])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Cargos]
GO
ALTER TABLE [dbo].[FichaTecnica]  WITH CHECK ADD  CONSTRAINT [FK_FichaTecnica_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[FichaTecnica] CHECK CONSTRAINT [FK_FichaTecnica_Productos]
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FichaTecnicaDetalle_FichaTecnica] FOREIGN KEY([IdFichaTecnica])
REFERENCES [dbo].[FichaTecnica] ([IdFichaTecnica])
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle] CHECK CONSTRAINT [FK_FichaTecnicaDetalle_FichaTecnica]
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FichaTecnicaDetalle_Insumos] FOREIGN KEY([IdInsumo])
REFERENCES [dbo].[Insumos] ([IdInsumo])
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle] CHECK CONSTRAINT [FK_FichaTecnicaDetalle_Insumos]
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FichaTecnicaDetalle_UnidadesMedida] FOREIGN KEY([IdUnidadMedida])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidadMedida])
GO
ALTER TABLE [dbo].[FichaTecnicaDetalle] CHECK CONSTRAINT [FK_FichaTecnicaDetalle_UnidadesMedida]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [FK_Insumos_CategoriasInsumo] FOREIGN KEY([IdCategoriaInsumo])
REFERENCES [dbo].[CategoriasInsumo] ([IdCategoriaInsumo])
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [FK_Insumos_CategoriasInsumo]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [FK_Insumos_UnidadesMedida] FOREIGN KEY([IdUnidadMedida])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidadMedida])
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [FK_Insumos_UnidadesMedida]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_MenuPadre] FOREIGN KEY([IdMenuPadre])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_MenuPadre]
GO
ALTER TABLE [dbo].[PermisosMenu]  WITH CHECK ADD  CONSTRAINT [FK_PermisosMenu_Menu] FOREIGN KEY([IdMenu])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[PermisosMenu] CHECK CONSTRAINT [FK_PermisosMenu_Menu]
GO
ALTER TABLE [dbo].[PermisosMenu]  WITH CHECK ADD  CONSTRAINT [FK_PermisosMenu_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[PermisosMenu] CHECK CONSTRAINT [FK_PermisosMenu_Roles]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_CategoriasProducto] FOREIGN KEY([IdCategoriaProducto])
REFERENCES [dbo].[CategoriasProducto] ([IdCategoriaProducto])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_CategoriasProducto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_UnidadesMedida] FOREIGN KEY([IdUnidadMedida])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidadMedida])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_UnidadesMedida]
GO
ALTER TABLE [dbo].[StockInsumos]  WITH CHECK ADD  CONSTRAINT [FK_StockInsumos_Insumos] FOREIGN KEY([IdInsumo])
REFERENCES [dbo].[Insumos] ([IdInsumo])
GO
ALTER TABLE [dbo].[StockInsumos] CHECK CONSTRAINT [FK_StockInsumos_Insumos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleados] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleados]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
