USE [CorexProdDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_EDITAR]
(
    @IdCategoriaInsumo INT,
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(300),
    @Estado BIT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM CategoriasInsumo
        WHERE NombreCategoria = @NombreCategoria
        AND IdCategoriaInsumo <> @IdCategoriaInsumo
    )
    BEGIN
        RAISERROR('La categoría ya existe.',16,1)
        RETURN
    END

    UPDATE CategoriasInsumo
    SET
        NombreCategoria = @NombreCategoria,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdCategoriaInsumo = @IdCategoriaInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_ELIMINAR]
(
    @IdCategoriaInsumo INT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Insumos
        WHERE IdCategoriaInsumo = @IdCategoriaInsumo
    )
    BEGIN
        RAISERROR('No se puede eliminar la categoría porque tiene insumos asociados.',16,1)
        RETURN
    END

    DELETE FROM CategoriasInsumo
    WHERE IdCategoriaInsumo = @IdCategoriaInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_LISTAR]
AS
BEGIN
    SELECT
        IdCategoriaInsumo,
        NombreCategoria,
        Descripcion,
        Estado,
        FechaRegistro
    FROM CategoriasInsumo
    ORDER BY NombreCategoria;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_REGISTRAR]
(
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(300)
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM CategoriasInsumo
        WHERE NombreCategoria = @NombreCategoria
    )
    BEGIN
        RAISERROR('La categoría ya existe.',16,1)
        RETURN
    END

    INSERT INTO CategoriasInsumo
    (
        NombreCategoria,
        Descripcion
    )
    VALUES
    (
        @NombreCategoria,
        @Descripcion
    )

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_EDITAR]
(
    @IdCategoriaProducto INT,
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(250),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM CategoriasProducto
        WHERE NombreCategoria = @NombreCategoria
        AND IdCategoriaProducto <> @IdCategoriaProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otra categoría con ese nombre.';
        RETURN;
    END

    UPDATE CategoriasProducto
    SET
        NombreCategoria = @NombreCategoria,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdCategoriaProducto = @IdCategoriaProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Categoría actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_ELIMINAR]
(
    @IdCategoriaProducto INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM CategoriasProducto
    WHERE IdCategoriaProducto = @IdCategoriaProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Categoría eliminada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdCategoriaProducto,
        NombreCategoria,
        Descripcion,
        Estado,
        FechaRegistro
    FROM CategoriasProducto
    ORDER BY NombreCategoria ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_REGISTRAR]
(
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(250),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM CategoriasProducto
        WHERE NombreCategoria = @NombreCategoria
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'La categoría ya existe.';
        RETURN;
    END

    INSERT INTO CategoriasProducto
    (
        NombreCategoria,
        Descripcion,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @NombreCategoria,
        @Descripcion,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Categoría registrada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_EDITAR]
(
    @IdInsumo INT,
    @Codigo VARCHAR(50),
    @NombreInsumo VARCHAR(150),
    @Descripcion VARCHAR(300),
    @IdCategoriaInsumo INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2),
    @Estado BIT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Insumos
        WHERE Codigo = @Codigo
        AND IdInsumo <> @IdInsumo
    )
    BEGIN
        RAISERROR('El código ya existe.',16,1)
        RETURN
    END

    UPDATE Insumos
    SET
        Codigo = @Codigo,
        NombreInsumo = @NombreInsumo,
        Descripcion = @Descripcion,
        IdCategoriaInsumo = @IdCategoriaInsumo,
        IdUnidadMedida = @IdUnidadMedida,
        StockMinimo = @StockMinimo,
        Estado = @Estado
    WHERE IdInsumo = @IdInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_ELIMINAR]
(
    @IdInsumo INT
)
AS
BEGIN

    DELETE FROM Insumos
    WHERE IdInsumo = @IdInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_LISTAR]
AS
BEGIN

    SELECT
        I.IdInsumo,
        I.Codigo,
        I.NombreInsumo,
        I.Descripcion,
        I.IdCategoriaInsumo,
        CI.NombreCategoria,
        I.IdUnidadMedida,
        UM.NombreUnidad,
        UM.Abreviatura,
        I.StockMinimo,
        I.Estado,
        I.FechaRegistro
    FROM Insumos I
    INNER JOIN CategoriasInsumo CI
        ON I.IdCategoriaInsumo = CI.IdCategoriaInsumo
    INNER JOIN UnidadesMedida UM
        ON I.IdUnidadMedida = UM.IdUnidadMedida
    ORDER BY I.NombreInsumo;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_REGISTRAR]
(
    @Codigo VARCHAR(50),
    @NombreInsumo VARCHAR(150),
    @Descripcion VARCHAR(300),
    @IdCategoriaInsumo INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2)
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Insumos
        WHERE Codigo = @Codigo
    )
    BEGIN
        RAISERROR('El código ya existe.',16,1)
        RETURN
    END

    INSERT INTO Insumos
    (
        Codigo,
        NombreInsumo,
        Descripcion,
        IdCategoriaInsumo,
        IdUnidadMedida,
        StockMinimo
    )
    VALUES
    (
        @Codigo,
        @NombreInsumo,
        @Descripcion,
        @IdCategoriaInsumo,
        @IdUnidadMedida,
        @StockMinimo
    )

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_EDITAR]
(
    @IdProducto INT,
    @Codigo VARCHAR(50),
    @NombreProducto VARCHAR(150),
    @Descripcion VARCHAR(250),
    @IdCategoriaProducto INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Productos
        WHERE Codigo = @Codigo
        AND IdProducto <> @IdProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro producto con ese código.';
        RETURN;
    END

    IF EXISTS
    (
        SELECT 1
        FROM Productos
        WHERE NombreProducto = @NombreProducto
        AND IdProducto <> @IdProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro producto con ese nombre.';
        RETURN;
    END

    UPDATE Productos
    SET
        Codigo = @Codigo,
        NombreProducto = @NombreProducto,
        Descripcion = @Descripcion,
        IdCategoriaProducto = @IdCategoriaProducto,
        IdUnidadMedida = @IdUnidadMedida,
        StockMinimo = @StockMinimo,
        Estado = @Estado
    WHERE IdProducto = @IdProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Producto actualizado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_ELIMINAR]
(
    @IdProducto INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Productos
    WHERE IdProducto = @IdProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Producto eliminado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.IdProducto,
        P.Codigo,
        P.NombreProducto,
        P.Descripcion,
        P.IdCategoriaProducto,
        C.NombreCategoria,
        P.IdUnidadMedida,
        U.NombreUnidad,
        U.Abreviatura AS AbreviaturaUnidad,
        P.StockMinimo,
        P.Estado,
        P.FechaRegistro
    FROM Productos P
    INNER JOIN CategoriasProducto C 
        ON C.IdCategoriaProducto = P.IdCategoriaProducto
    INNER JOIN UnidadesMedida U 
        ON U.IdUnidadMedida = P.IdUnidadMedida
    ORDER BY P.NombreProducto ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_REGISTRAR]
(
    @Codigo VARCHAR(50),
    @NombreProducto VARCHAR(150),
    @Descripcion VARCHAR(250),
    @IdCategoriaProducto INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Productos WHERE Codigo = @Codigo)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe un producto con ese código.';
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Productos WHERE NombreProducto = @NombreProducto)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe un producto con ese nombre.';
        RETURN;
    END

    INSERT INTO Productos
    (
        Codigo,
        NombreProducto,
        Descripcion,
        IdCategoriaProducto,
        IdUnidadMedida,
        StockMinimo,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @Codigo,
        @NombreProducto,
        @Descripcion,
        @IdCategoriaProducto,
        @IdUnidadMedida,
        @StockMinimo,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Producto registrado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_EDITAR]
(
    @IdUnidadMedida INT,
    @NombreUnidad VARCHAR(100),
    @Abreviatura VARCHAR(20),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM UnidadesMedida
        WHERE NombreUnidad = @NombreUnidad
        AND IdUnidadMedida <> @IdUnidadMedida
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otra unidad de medida con ese nombre.';
        RETURN;
    END

    UPDATE UnidadesMedida
    SET
        NombreUnidad = @NombreUnidad,
        Abreviatura = @Abreviatura,
        Estado = @Estado
    WHERE IdUnidadMedida = @IdUnidadMedida;

    SET @Resultado = 1;
    SET @Mensaje = 'Unidad de medida actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_ELIMINAR]
(
    @IdUnidadMedida INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM UnidadesMedida
    WHERE IdUnidadMedida = @IdUnidadMedida;

    SET @Resultado = 1;
    SET @Mensaje = 'Unidad de medida eliminada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdUnidadMedida,
        NombreUnidad,
        Abreviatura,
        Estado,
        FechaRegistro
    FROM UnidadesMedida
    ORDER BY NombreUnidad ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_REGISTRAR]
(
    @NombreUnidad VARCHAR(100),
    @Abreviatura VARCHAR(20),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM UnidadesMedida
        WHERE NombreUnidad = @NombreUnidad
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'La unidad de medida ya existe.';
        RETURN;
    END

    INSERT INTO UnidadesMedida
    (
        NombreUnidad,
        Abreviatura,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @NombreUnidad,
        @Abreviatura,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Unidad de medida registrada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AUDITORIA_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_AUDITORIA_REGISTRAR]
(
    @Usuario NVARCHAR(100),
    @Accion NVARCHAR(100),
    @Modulo NVARCHAR(100),
    @Descripcion NVARCHAR(MAX),
    @Equipo NVARCHAR(100)
)
AS
BEGIN

    INSERT INTO Auditoria
    (
        Usuario,
        Accion,
        Modulo,
        Descripcion,
        Equipo
    )
    VALUES
    (
        @Usuario,
        @Accion,
        @Modulo,
        @Descripcion,
        @Equipo
    )

END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_CALCULAR_CONSUMO]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_CALCULAR_CONSUMO]
    @IdProducto INT,
    @CantidadProducir DECIMAL(18,3)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        FT.IdFichaTecnica,
        P.IdProducto,
        P.Codigo AS CodigoProducto,
        P.NombreProducto,
        I.IdInsumo,
        I.NombreInsumo,
        FTD.Cantidad AS CantidadPorUnidad,
        @CantidadProducir AS CantidadProducir,
        FTD.Cantidad * @CantidadProducir AS CantidadTotalRequerida,
        UM.IdUnidadMedida,
        UM.NombreUnidad,
        UM.Abreviatura
    FROM FichaTecnica FT
    INNER JOIN Productos P 
        ON P.IdProducto = FT.IdProducto
    INNER JOIN FichaTecnicaDetalle FTD 
        ON FTD.IdFichaTecnica = FT.IdFichaTecnica
    INNER JOIN Insumos I 
        ON I.IdInsumo = FTD.IdInsumo
    INNER JOIN UnidadesMedida UM 
        ON UM.IdUnidadMedida = FTD.IdUnidadMedida
    WHERE FT.IdProducto = @IdProducto
      AND FT.Estado = 1
      AND FTD.Estado = 1
    ORDER BY I.NombreInsumo;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_EDITAR]
    @IdFichaTecnicaDetalle INT,
    @Cantidad DECIMAL(18,3),
    @IdUnidadMedida INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Resultado = 0;
        SET @Mensaje = '';

        IF NOT EXISTS (
            SELECT 1 
            FROM FichaTecnicaDetalle 
            WHERE IdFichaTecnicaDetalle = @IdFichaTecnicaDetalle
        )
        BEGIN
            SET @Mensaje = 'El detalle de ficha técnica no existe.';
            RETURN;
        END

        IF @Cantidad <= 0
        BEGIN
            SET @Mensaje = 'La cantidad debe ser mayor a cero.';
            RETURN;
        END

        UPDATE FichaTecnicaDetalle
        SET
            Cantidad = @Cantidad,
            IdUnidadMedida = @IdUnidadMedida
        WHERE IdFichaTecnicaDetalle = @IdFichaTecnicaDetalle;

        SET @Resultado = 1;
        SET @Mensaje = 'Detalle actualizado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_ELIMINAR]
    @IdFichaTecnicaDetalle INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Resultado = 0;
        SET @Mensaje = '';

        IF NOT EXISTS (
            SELECT 1 
            FROM FichaTecnicaDetalle 
            WHERE IdFichaTecnicaDetalle = @IdFichaTecnicaDetalle
        )
        BEGIN
            SET @Mensaje = 'El detalle de ficha técnica no existe.';
            RETURN;
        END

        UPDATE FichaTecnicaDetalle
        SET Estado = 0
        WHERE IdFichaTecnicaDetalle = @IdFichaTecnicaDetalle;

        SET @Resultado = 1;
        SET @Mensaje = 'Insumo quitado de la ficha técnica correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_LISTAR]
    @IdFichaTecnica INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        FTD.IdFichaTecnicaDetalle,
        FTD.IdFichaTecnica,
        FTD.IdInsumo,
        I.NombreInsumo,
        FTD.Cantidad,
        FTD.IdUnidadMedida,
        UM.NombreUnidad,
        UM.Abreviatura,
        FTD.Estado
    FROM FichaTecnicaDetalle FTD
    INNER JOIN Insumos I ON I.IdInsumo = FTD.IdInsumo
    INNER JOIN UnidadesMedida UM ON UM.IdUnidadMedida = FTD.IdUnidadMedida
    WHERE FTD.IdFichaTecnica = @IdFichaTecnica
      AND FTD.Estado = 1
    ORDER BY I.NombreInsumo;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_DETALLE_REGISTRAR]
    @IdFichaTecnica INT,
    @IdInsumo INT,
    @Cantidad DECIMAL(18,3),
    @IdUnidadMedida INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Resultado = 0;
        SET @Mensaje = '';

        IF NOT EXISTS (SELECT 1 FROM FichaTecnica WHERE IdFichaTecnica = @IdFichaTecnica)
        BEGIN
            SET @Mensaje = 'La ficha técnica no existe.';
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Insumos WHERE IdInsumo = @IdInsumo)
        BEGIN
            SET @Mensaje = 'El insumo seleccionado no existe.';
            RETURN;
        END

        IF @Cantidad <= 0
        BEGIN
            SET @Mensaje = 'La cantidad debe ser mayor a cero.';
            RETURN;
        END

        IF EXISTS (
            SELECT 1
            FROM FichaTecnicaDetalle
            WHERE IdFichaTecnica = @IdFichaTecnica
              AND IdInsumo = @IdInsumo
              AND Estado = 1
        )
        BEGIN
            SET @Mensaje = 'El insumo ya existe en esta ficha técnica.';
            RETURN;
        END

        INSERT INTO FichaTecnicaDetalle (
            IdFichaTecnica,
            IdInsumo,
            Cantidad,
            IdUnidadMedida,
            Estado,
            FechaRegistro
        )
        VALUES (
            @IdFichaTecnica,
            @IdInsumo,
            @Cantidad,
            @IdUnidadMedida,
            1,
            GETDATE()
        );

        SET @Resultado = 1;
        SET @Mensaje = 'Insumo agregado correctamente a la ficha técnica.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_EDITAR]
    @IdFichaTecnica INT,
    @IdProducto INT,
    @Version INT,
    @Observacion VARCHAR(300),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Resultado = 0;
        SET @Mensaje = '';

        IF NOT EXISTS (SELECT 1 FROM FichaTecnica WHERE IdFichaTecnica = @IdFichaTecnica)
        BEGIN
            SET @Mensaje = 'La ficha técnica no existe.';
            RETURN;
        END

        IF EXISTS (
            SELECT 1
            FROM FichaTecnica
            WHERE IdProducto = @IdProducto
              AND Version = @Version
              AND IdFichaTecnica <> @IdFichaTecnica
        )
        BEGIN
            SET @Mensaje = 'Ya existe otra ficha técnica con esa versión para este producto.';
            RETURN;
        END

        UPDATE FichaTecnica
        SET
            IdProducto = @IdProducto,
            Version = @Version,
            Observacion = @Observacion,
            Estado = @Estado
        WHERE IdFichaTecnica = @IdFichaTecnica;

        SET @Resultado = 1;
        SET @Mensaje = 'Ficha técnica actualizada correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        FT.IdFichaTecnica,
        FT.IdProducto,
        P.Codigo,
        P.NombreProducto,
        FT.Version,
        FT.Observacion,
        FT.Estado,
        FT.FechaRegistro
    FROM FichaTecnica FT
    INNER JOIN Productos P ON P.IdProducto = FT.IdProducto
    ORDER BY FT.IdFichaTecnica DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PROD_FICHA_TECNICA_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_PROD_FICHA_TECNICA_REGISTRAR]
    @IdProducto INT,
    @Version INT,
    @Observacion VARCHAR(300),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Resultado = 0;
        SET @Mensaje = '';

        IF NOT EXISTS (SELECT 1 FROM Productos WHERE IdProducto = @IdProducto)
        BEGIN
            SET @Mensaje = 'El producto seleccionado no existe.';
            RETURN;
        END

        IF EXISTS (
            SELECT 1 
            FROM FichaTecnica 
            WHERE IdProducto = @IdProducto 
              AND Version = @Version
        )
        BEGIN
            SET @Mensaje = 'Ya existe una ficha técnica con esa versión para este producto.';
            RETURN;
        END

        INSERT INTO FichaTecnica (
            IdProducto,
            Version,
            Observacion,
            Estado,
            FechaRegistro
        )
        VALUES (
            @IdProducto,
            @Version,
            @Observacion,
            1,
            GETDATE()
        );

        SET @Resultado = 1;
        SET @Mensaje = 'Ficha técnica registrada correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_EDITAR]
(
    @IdCargo INT,
    @NombreCargo VARCHAR(100),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Cargos
        WHERE NombreCargo = @NombreCargo
        AND IdCargo <> @IdCargo
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'Ya existe otro cargo con ese nombre'
        RETURN
    END

    UPDATE Cargos
    SET
        NombreCargo = @NombreCargo,
        Estado = @Estado
    WHERE IdCargo = @IdCargo

    SET @Resultado = 1
    SET @Mensaje = 'Cargo actualizado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_ELIMINAR]
(
    @IdCargo INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Empleados
        WHERE IdCargo = @IdCargo
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'No se puede eliminar el cargo porque está asociado a uno o más empleados.'
        RETURN
    END

    DELETE FROM Cargos
    WHERE IdCargo = @IdCargo

    SET @Resultado = 1
    SET @Mensaje = 'Cargo eliminado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdCargo,
        NombreCargo,
        Estado,
        FechaRegistro
    FROM Cargos
    ORDER BY NombreCargo ASC
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_REGISTRAR]
(
    @NombreCargo VARCHAR(100),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Cargos
        WHERE NombreCargo = @NombreCargo
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'El cargo ya existe'
        RETURN
    END

    INSERT INTO Cargos
    (
        NombreCargo,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @NombreCargo,
        1,
        GETDATE()
    )

    SET @Resultado = 1
    SET @Mensaje = 'Cargo registrado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_EDITAR]
(
    @IdEmpleado INT,
    @TipoDocumento VARCHAR(20),
    @NumeroDocumento VARCHAR(20),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Sexo VARCHAR(20),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @Direccion VARCHAR(200),
    @IdCargo INT,
    @FechaNacimiento DATE = NULL,
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Empleados
        WHERE NumeroDocumento = @NumeroDocumento
        AND IdEmpleado <> @IdEmpleado
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'Ya existe otro empleado con ese número de documento'
        RETURN
    END

    UPDATE Empleados
    SET
        TipoDocumento = @TipoDocumento,
        NumeroDocumento = @NumeroDocumento,
        Nombre = @Nombre,
        Apellido = @Apellido,
        Sexo = @Sexo,
        Telefono = @Telefono,
        Email = @Email,
        Direccion = @Direccion,
        IdCargo = @IdCargo,
        FechaNacimiento = @FechaNacimiento,
        Estado = @Estado
    WHERE IdEmpleado = @IdEmpleado

    SET @Resultado = 1
    SET @Mensaje = 'Empleado actualizado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_ELIMINAR]
(
    @IdEmpleado INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuarios WHERE IdEmpleado = @IdEmpleado)
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'No se puede eliminar el empleado porque está asociado a un usuario.'
        RETURN
    END

    DELETE FROM Empleados
    WHERE IdEmpleado = @IdEmpleado

    SET @Resultado = 1
    SET @Mensaje = 'Empleado eliminado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        E.IdEmpleado,
        E.TipoDocumento,
        E.NumeroDocumento,
        E.Nombre,
        E.Apellido,
        E.Sexo,
        E.Telefono,
        E.Email,
        E.Direccion,
        E.IdCargo,
        C.NombreCargo,
        E.FechaNacimiento,
        E.FechaRegistro,
        E.Estado
    FROM Empleados E
    INNER JOIN Cargos C ON C.IdCargo = E.IdCargo
    ORDER BY E.Apellido, E.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_REGISTRAR]
(
    @TipoDocumento VARCHAR(20),
    @NumeroDocumento VARCHAR(20),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Sexo VARCHAR(20),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @Direccion VARCHAR(200),
    @IdCargo INT,
    @FechaNacimiento DATE = NULL,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Empleados WHERE NumeroDocumento = @NumeroDocumento)
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'Ya existe un empleado con ese número de documento'
        RETURN
    END

    INSERT INTO Empleados
    (
        TipoDocumento,
        NumeroDocumento,
        Nombre,
        Apellido,
        Sexo,
        Telefono,
        Email,
        Direccion,
        IdCargo,
        FechaNacimiento,
        FechaRegistro,
        Estado
    )
    VALUES
    (
        @TipoDocumento,
        @NumeroDocumento,
        @Nombre,
        @Apellido,
        @Sexo,
        @Telefono,
        @Email,
        @Direccion,
        @IdCargo,
        @FechaNacimiento,
        GETDATE(),
        1
    )

    SET @Resultado = 1
    SET @Mensaje = 'Empleado registrado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_MENU_LISTAR_POR_ROL]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_SEG_MENU_LISTAR_POR_ROL]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.IdMenu,
        m.NombreMenu,
        m.IdMenuPadre,
        m.Orden,
        CAST(
            CASE 
                WHEN pm.IdPermisoMenu IS NULL THEN 0
                ELSE pm.PuedeVer
            END 
        AS BIT) AS TienePermiso
    FROM Menu m
    LEFT JOIN PermisosMenu pm
        ON pm.IdMenu = m.IdMenu
        AND pm.IdRol = @IdRol
    WHERE m.Estado = 1
    ORDER BY 
        ISNULL(m.IdMenuPadre, m.IdMenu),
        m.IdMenuPadre,
        m.Orden;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_MENU_OBTENERPORROL]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_SEG_MENU_OBTENERPORROL]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.NombreMenu
    FROM PermisosMenu pm
    INNER JOIN Menu m
        ON m.IdMenu = pm.IdMenu
    WHERE 
        pm.IdRol = @IdRol
        AND pm.PuedeVer = 1
        AND m.Estado = 1
    ORDER BY m.Orden;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_EDITAR]
(
    @IdParametro INT,
    @CodigoParametro VARCHAR(100),
    @NombreParametro VARCHAR(150),
    @ValorParametro VARCHAR(500),
    @Descripcion VARCHAR(250),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Parametros
        WHERE CodigoParametro = @CodigoParametro
        AND IdParametro <> @IdParametro
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro parámetro con ese código.';
        RETURN;
    END

    UPDATE Parametros
    SET
        CodigoParametro = @CodigoParametro,
        NombreParametro = @NombreParametro,
        ValorParametro = @ValorParametro,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdParametro = @IdParametro;

    SET @Resultado = 1;
    SET @Mensaje = 'Parámetro actualizado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_ELIMINAR]
(
    @IdParametro INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Parametros
    WHERE IdParametro = @IdParametro;

    SET @Resultado = 1;
    SET @Mensaje = 'Parámetro eliminado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdParametro,
        CodigoParametro,
        NombreParametro,
        ValorParametro,
        Descripcion,
        Estado,
        FechaRegistro
    FROM Parametros
    ORDER BY NombreParametro ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_OBTENER_POR_CODIGO]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_OBTENER_POR_CODIGO]
(
    @CodigoParametro VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdParametro,
        CodigoParametro,
        NombreParametro,
        ValorParametro,
        Descripcion,
        Estado,
        FechaRegistro
    FROM Parametros
    WHERE CodigoParametro = @CodigoParametro
    AND Estado = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_REGISTRAR]
(
    @CodigoParametro VARCHAR(100),
    @NombreParametro VARCHAR(150),
    @ValorParametro VARCHAR(500),
    @Descripcion VARCHAR(250),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Parametros
        WHERE CodigoParametro = @CodigoParametro
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe un parámetro con ese código.';
        RETURN;
    END

    INSERT INTO Parametros
    (
        CodigoParametro,
        NombreParametro,
        ValorParametro,
        Descripcion,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @CodigoParametro,
        @NombreParametro,
        @ValorParametro,
        @Descripcion,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Parámetro registrado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PERMISO_MENU_GUARDAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_PERMISO_MENU_GUARDAR]
    @IdRol INT,
    @IdMenu INT,
    @PuedeVer BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM PermisosMenu
        WHERE IdRol = @IdRol
        AND IdMenu = @IdMenu
    )
    BEGIN
        UPDATE PermisosMenu
        SET PuedeVer = @PuedeVer
        WHERE IdRol = @IdRol
        AND IdMenu = @IdMenu;
    END
    ELSE
    BEGIN
        INSERT INTO PermisosMenu
        (
            IdRol,
            IdMenu,
            PuedeVer
        )
        VALUES
        (
            @IdRol,
            @IdMenu,
            @PuedeVer
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_ROL_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_ROL_EDITAR]
    @IdRol INT,
    @NombreRol VARCHAR(50),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Roles
    SET 
        NombreRol = @NombreRol,
        Estado = @Estado
    WHERE IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_ROL_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_ROL_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdRol,
        NombreRol,
        Estado,
        FechaRegistro
    FROM Roles
    ORDER BY IdRol DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_ROL_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_ROL_REGISTRAR]
    @NombreRol VARCHAR(50),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Roles
    (
        NombreRol,
        Estado
    )
    VALUES
    (
        @NombreRol,
        @Estado
    );
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_CAMBIAR_CLAVE]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_CAMBIAR_CLAVE]
(
    @IdUsuario INT,
    @ClaveActual VARCHAR(255),
    @ClaveNueva VARCHAR(255),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Usuarios
        WHERE IdUsuario = @IdUsuario
        AND Clave = @ClaveActual
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'La clave actual no es correcta.';
        RETURN;
    END

    UPDATE Usuarios
    SET Clave = @ClaveNueva
    WHERE IdUsuario = @IdUsuario;

    SET @Resultado = 1;
    SET @Mensaje = 'Clave actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_EDITAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_USUARIO_EDITAR]
(
    @IdUsuario INT,
    @IdEmpleado INT,
    @NombreUsuario VARCHAR(50),
    @Clave VARCHAR(255),
    @IdRol INT,
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET @Resultado = 0;

    IF EXISTS (
        SELECT 1
        FROM Usuarios
        WHERE NombreUsuario = @NombreUsuario
          AND IdUsuario <> @IdUsuario
    )
    BEGIN
        SET @Mensaje = 'El nombre de usuario ya existe';
        RETURN;
    END

    IF EXISTS (
        SELECT 1
        FROM Usuarios
        WHERE IdEmpleado = @IdEmpleado
          AND IdUsuario <> @IdUsuario
    )
    BEGIN
        SET @Mensaje = 'El empleado ya tiene un usuario asignado';
        RETURN;
    END

    UPDATE Usuarios
    SET
        IdEmpleado = @IdEmpleado,
        NombreUsuario = @NombreUsuario,
        Clave = CASE
                    WHEN LTRIM(RTRIM(ISNULL(@Clave, ''))) = ''
                    THEN Clave
                    ELSE @Clave
                END,
        IdRol = @IdRol,
        Estado = @Estado
    WHERE IdUsuario = @IdUsuario;

    SET @Resultado = 1;
    SET @Mensaje = 'Usuario actualizado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_ELIMINAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_ELIMINAR]
(
    @IdUsuario INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Usuarios
    WHERE IdUsuario = @IdUsuario;

    SET @Resultado = 1;
    SET @Mensaje = 'Usuario eliminado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_LISTAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        U.IdUsuario,
        U.IdEmpleado,
        CONCAT(E.Nombre, ' ', E.Apellido) AS NombreEmpleado,
        U.NombreUsuario,
        U.Clave,
        U.IdRol,
        R.NombreRol,
        U.FechaRegistro,
        U.Estado
    FROM Usuarios U
    INNER JOIN Empleados E ON E.IdEmpleado = U.IdEmpleado
    INNER JOIN Roles R ON R.IdRol = U.IdRol
    ORDER BY U.IdUsuario DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_LOGIN]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_USUARIO_LOGIN]
(
    @Usuario VARCHAR(50)
)
AS
BEGIN

    SELECT
        u.IdUsuario,
        u.NombreUsuario,
        u.Clave,
        CONCAT(e.Nombre, ' ', e.Apellido) AS NombreCompleto,
        u.IdRol,
        r.NombreRol,
        u.Estado
    FROM Usuarios u
    INNER JOIN Empleados e
        ON e.IdEmpleado = u.IdEmpleado
    INNER JOIN Roles r
        ON r.IdRol = u.IdRol
    WHERE u.NombreUsuario = @Usuario

END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_REGISTRAR]    Script Date: 27/05/2026 14:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_REGISTRAR]
(
    @IdEmpleado INT,
    @NombreUsuario VARCHAR(50),
    @Clave VARCHAR(255),
    @IdRol INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuarios WHERE IdEmpleado = @IdEmpleado)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El empleado seleccionado ya tiene un usuario asignado.';
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Usuarios WHERE NombreUsuario = @NombreUsuario)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El nombre de usuario ya existe.';
        RETURN;
    END

    INSERT INTO Usuarios
    (
        IdEmpleado,
        NombreUsuario,
        Clave,
        IdRol,
        FechaRegistro,
        Estado
    )
    VALUES
    (
        @IdEmpleado,
        @NombreUsuario,
        @Clave,
        @IdRol,
        GETDATE(),
        1
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Usuario registrado correctamente.';
END
GO
