<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ImpresoraGuiaInternaSalida" value="PDF24"/>
		<add key="RucComPeApiUrl" value="https://ruc.com.pe/api/v1/consultas"/>
		<add key="RucComPeApiToken" value="0a682fbe-009d-4758-aad1-2ff1092ab7c2-838d6cd5-620a-4add-9632-a3b37c5ae216"/>
	</appSettings>

	<connectionStrings>

		<add
			name="ConexionSQL"
			connectionString="Server=.;Database=CorexProdDB;Trusted_Connection=True;TrustServerCertificate=True;"
			providerName="System.Data.SqlClient"/>

	</connectionStrings>
	
</configuration>
