<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="RucComPeApiUrl" value="https://ruc.com.pe/api/v1/consultas"/>
		<add key="RucComPeApiToken" value="ab0ea3f1-865f-4ce7-bc88-ce694b59ae49-8248c0ae-e2b8-4ff1-9b3f-57d874654e1f"/>
	</appSettings>

	<connectionStrings>

		<add
			name="ConexionSQL"
			connectionString="Server=.;Database=CorexProdDB;Trusted_Connection=True;TrustServerCertificate=True;"
			providerName="System.Data.SqlClient"/>

	</connectionStrings>
	
</configuration>
