USE [CorexProdDB]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCargo] [varchar](80) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasInsumo]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasInsumo](
	[IdCategoriaInsumo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasProducto]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasProducto](
	[IdCategoriaProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](30) NOT NULL,
	[NumeroDocumento] [varchar](20) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Apellido] [varchar](80) NOT NULL,
	[Sexo] [varchar](20) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](150) NULL,
	[IdCargo] [int] NOT NULL,
	[FechaNacimiento] [date] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumos]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumos](
	[IdInsumo] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreInsumo] [varchar](150) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[IdCategoriaInsumo] [int] NOT NULL,
	[IdUnidadMedida] [int] NOT NULL,
	[StockMinimo] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[NombreMenu] [varchar](80) NOT NULL,
	[IdMenuPadre] [int] NULL,
	[Orden] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[IdParametro] [int] IDENTITY(1,1) NOT NULL,
	[CodigoParametro] [varchar](100) NOT NULL,
	[NombreParametro] [varchar](150) NOT NULL,
	[ValorParametro] [varchar](500) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisosMenu]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisosMenu](
	[IdPermisoMenu] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdMenu] [int] NOT NULL,
	[PuedeVer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermisoMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[IdCategoriaProducto] [int] NOT NULL,
	[IdUnidadMedida] [int] NOT NULL,
	[StockMinimo] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadesMedida]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadesMedida](
	[IdUnidadMedida] [int] IDENTITY(1,1) NOT NULL,
	[NombreUnidad] [varchar](100) NOT NULL,
	[Abreviatura] [varchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUnidadMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/05/2026 11:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[IdRol] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cargos] ON 

INSERT [dbo].[Cargos] ([IdCargo], [NombreCargo], [Estado], [FechaRegistro]) VALUES (1, N'Administrador', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Cargos] ([IdCargo], [NombreCargo], [Estado], [FechaRegistro]) VALUES (2, N'Ventas', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Cargos] ([IdCargo], [NombreCargo], [Estado], [FechaRegistro]) VALUES (9, N'Almacen', 1, CAST(N'2026-05-07T13:57:16.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cargos] OFF
SET IDENTITY_INSERT [dbo].[CategoriasInsumo] ON 

INSERT [dbo].[CategoriasInsumo] ([IdCategoriaInsumo], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'CIERRES', N'Categoría para cierres', 1, CAST(N'2026-05-08T11:09:44.663' AS DateTime))
INSERT [dbo].[CategoriasInsumo] ([IdCategoriaInsumo], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'TELAS', N'Categoría para telas', 1, CAST(N'2026-05-08T11:09:44.663' AS DateTime))
INSERT [dbo].[CategoriasInsumo] ([IdCategoriaInsumo], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, N'BOTONES', N'Categoría para botones', 1, CAST(N'2026-05-08T11:09:44.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[CategoriasInsumo] OFF
SET IDENTITY_INSERT [dbo].[CategoriasProducto] ON 

INSERT [dbo].[CategoriasProducto] ([IdCategoriaProducto], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'BLUSA', N'Prenda superior ligera para dama', 1, CAST(N'2026-05-08T09:44:04.073' AS DateTime))
INSERT [dbo].[CategoriasProducto] ([IdCategoriaProducto], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'CAMISA', N'Prenda superior con cuello y botones', 1, CAST(N'2026-05-08T09:44:14.420' AS DateTime))
INSERT [dbo].[CategoriasProducto] ([IdCategoriaProducto], [NombreCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, N'CASACA', N'Prenda exterior ligera de abrigo', 1, CAST(N'2026-05-08T09:44:28.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[CategoriasProducto] OFF
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleado], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Sexo], [Telefono], [Email], [Direccion], [IdCargo], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (1, N'DNI', N'48628561', N'Luis', N'Solis Barrios', N'Masculino', N'906792794', N'solisbarriosluis@gmail.com', N'Calle Real 1685', 1, CAST(N'1995-10-03' AS Date), CAST(N'2026-05-06T17:27:18.873' AS DateTime), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Sexo], [Telefono], [Email], [Direccion], [IdCargo], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (3, N'DNI', N'11111111', N'Usuario', N'Ventas', NULL, NULL, NULL, NULL, 2, NULL, CAST(N'2026-05-06T17:49:32.297' AS DateTime), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [TipoDocumento], [NumeroDocumento], [Nombre], [Apellido], [Sexo], [Telefono], [Email], [Direccion], [IdCargo], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (5, N'DNI', N'76043637', N'Jesùs', N'Eslava', N'Femenino', N'914741417', N'pachecoeslava@gmail.com', N'AV. LA FONTANA 1155', 2, CAST(N'1999-07-31' AS Date), CAST(N'2026-05-07T16:01:32.737' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([IdMenu], [NombreMenu], [IdMenuPadre], [Orden], [Estado]) VALUES (1, N'Inicio', NULL, 1, 1)
INSERT [dbo].[Menu] ([IdMenu], [NombreMenu], [IdMenuPadre], [Orden], [Estado]) VALUES (2, N'Ventas', NULL, 2, 1)
INSERT [dbo].[Menu] ([IdMenu], [NombreMenu], [IdMenuPadre], [Orden], [Estado]) VALUES (3, N'Almacén', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Parametros] ON 

INSERT [dbo].[Parametros] ([IdParametro], [CodigoParametro], [NombreParametro], [ValorParametro], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'RUTA_FICHA_TECNICA', N'Ruta de Fichas Técnicas', N'D:\FICHAS_TECNICAS', N'Ruta base donde se almacenan las fichas técnicas PDF de productos.', 1, CAST(N'2026-05-08T10:23:58.337' AS DateTime))
SET IDENTITY_INSERT [dbo].[Parametros] OFF
SET IDENTITY_INSERT [dbo].[PermisosMenu] ON 

INSERT [dbo].[PermisosMenu] ([IdPermisoMenu], [IdRol], [IdMenu], [PuedeVer]) VALUES (25, 1, 1, 1)
INSERT [dbo].[PermisosMenu] ([IdPermisoMenu], [IdRol], [IdMenu], [PuedeVer]) VALUES (26, 1, 2, 1)
INSERT [dbo].[PermisosMenu] ([IdPermisoMenu], [IdRol], [IdMenu], [PuedeVer]) VALUES (27, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[PermisosMenu] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Codigo], [NombreProducto], [Descripcion], [IdCategoriaProducto], [IdUnidadMedida], [StockMinimo], [Estado], [FechaRegistro]) VALUES (1, N'MT001PXS', N'CONJUNTO TERMICO OBRERO P (SACON+PANTALON) - HIPORA AMARILLO FLUOR/AZUL T. XS', N'Conjunto térmico obrero compuesto por sacón y pantalón de material Hipora color amarillo fluor/azul talla XS.', 7, 1, CAST(350.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-08T10:14:48.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Estado], [FechaRegistro]) VALUES (1, N'Administrador', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Estado], [FechaRegistro]) VALUES (2, N'Ventas', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime))
INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Estado], [FechaRegistro]) VALUES (5, N'Almacenero', 1, CAST(N'2026-05-07T09:05:37.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[UnidadesMedida] ON 

INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [NombreUnidad], [Abreviatura], [Estado], [FechaRegistro]) VALUES (1, N'Unidad', N'NIU', 1, CAST(N'2026-05-08T09:08:43.463' AS DateTime))
INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [NombreUnidad], [Abreviatura], [Estado], [FechaRegistro]) VALUES (2, N'Metros', N'MT', 1, CAST(N'2026-05-08T09:08:50.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[UnidadesMedida] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpleado], [NombreUsuario], [Clave], [IdRol], [FechaRegistro], [Estado]) VALUES (1, 1, N'admin', N'9876', 1, CAST(N'2026-05-06T17:27:18.873' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpleado], [NombreUsuario], [Clave], [IdRol], [FechaRegistro], [Estado]) VALUES (4, 3, N'ventas', N'123456', 2, CAST(N'2026-05-06T17:50:33.473' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpleado], [NombreUsuario], [Clave], [IdRol], [FechaRegistro], [Estado]) VALUES (6, 5, N'jesus', N'0819', 5, CAST(N'2026-05-07T16:10:57.730' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CategoriasInsumo_NombreCategoria]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[CategoriasInsumo] ADD  CONSTRAINT [UQ_CategoriasInsumo_NombreCategoria] UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Insumos__06370DAC6F432CDE]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[Insumos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Insumos_Codigo]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[Insumos] ADD  CONSTRAINT [UQ_Insumos_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Parametros_CodigoParametro]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[Parametros] ADD  CONSTRAINT [UQ_Parametros_CodigoParametro] UNIQUE NONCLUSTERED 
(
	[CodigoParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Productos_Codigo]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ_Productos_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Usuarios_IdEmpleado]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_IdEmpleado] UNIQUE NONCLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_NombreUsuario]    Script Date: 08/05/2026 11:22:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cargos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CategoriasInsumo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CategoriasInsumo] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CategoriasProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CategoriasProducto] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Insumos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Insumos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Insumos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PermisosMenu] ADD  DEFAULT ((1)) FOR [PuedeVer]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UnidadesMedida] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[UnidadesMedida] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Cargos] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargos] ([IdCargo])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Cargos]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [FK_Insumos_CategoriasInsumo] FOREIGN KEY([IdCategoriaInsumo])
REFERENCES [dbo].[CategoriasInsumo] ([IdCategoriaInsumo])
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [FK_Insumos_CategoriasInsumo]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [FK_Insumos_UnidadesMedida] FOREIGN KEY([IdUnidadMedida])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidadMedida])
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [FK_Insumos_UnidadesMedida]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_MenuPadre] FOREIGN KEY([IdMenuPadre])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_MenuPadre]
GO
ALTER TABLE [dbo].[PermisosMenu]  WITH CHECK ADD  CONSTRAINT [FK_PermisosMenu_Menu] FOREIGN KEY([IdMenu])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[PermisosMenu] CHECK CONSTRAINT [FK_PermisosMenu_Menu]
GO
ALTER TABLE [dbo].[PermisosMenu]  WITH CHECK ADD  CONSTRAINT [FK_PermisosMenu_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[PermisosMenu] CHECK CONSTRAINT [FK_PermisosMenu_Roles]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_CategoriasProducto] FOREIGN KEY([IdCategoriaProducto])
REFERENCES [dbo].[CategoriasProducto] ([IdCategoriaProducto])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_CategoriasProducto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_UnidadesMedida] FOREIGN KEY([IdUnidadMedida])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidadMedida])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_UnidadesMedida]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleados] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleados]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_EDITAR]
(
    @IdCategoriaInsumo INT,
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(300),
    @Estado BIT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM CategoriasInsumo
        WHERE NombreCategoria = @NombreCategoria
        AND IdCategoriaInsumo <> @IdCategoriaInsumo
    )
    BEGIN
        RAISERROR('La categoría ya existe.',16,1)
        RETURN
    END

    UPDATE CategoriasInsumo
    SET
        NombreCategoria = @NombreCategoria,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdCategoriaInsumo = @IdCategoriaInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_ELIMINAR]
(
    @IdCategoriaInsumo INT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Insumos
        WHERE IdCategoriaInsumo = @IdCategoriaInsumo
    )
    BEGIN
        RAISERROR('No se puede eliminar la categoría porque tiene insumos asociados.',16,1)
        RETURN
    END

    DELETE FROM CategoriasInsumo
    WHERE IdCategoriaInsumo = @IdCategoriaInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_LISTAR]
AS
BEGIN
    SELECT
        IdCategoriaInsumo,
        NombreCategoria,
        Descripcion,
        Estado,
        FechaRegistro
    FROM CategoriasInsumo
    ORDER BY NombreCategoria;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_INSUMO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_CATEGORIA_INSUMO_REGISTRAR]
(
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(300)
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM CategoriasInsumo
        WHERE NombreCategoria = @NombreCategoria
    )
    BEGIN
        RAISERROR('La categoría ya existe.',16,1)
        RETURN
    END

    INSERT INTO CategoriasInsumo
    (
        NombreCategoria,
        Descripcion
    )
    VALUES
    (
        @NombreCategoria,
        @Descripcion
    )

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_EDITAR]
(
    @IdCategoriaProducto INT,
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(250),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM CategoriasProducto
        WHERE NombreCategoria = @NombreCategoria
        AND IdCategoriaProducto <> @IdCategoriaProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otra categoría con ese nombre.';
        RETURN;
    END

    UPDATE CategoriasProducto
    SET
        NombreCategoria = @NombreCategoria,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdCategoriaProducto = @IdCategoriaProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Categoría actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_ELIMINAR]
(
    @IdCategoriaProducto INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM CategoriasProducto
    WHERE IdCategoriaProducto = @IdCategoriaProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Categoría eliminada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdCategoriaProducto,
        NombreCategoria,
        Descripcion,
        Estado,
        FechaRegistro
    FROM CategoriasProducto
    ORDER BY NombreCategoria ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_CATEGORIA_PRODUCTO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_CATEGORIA_PRODUCTO_REGISTRAR]
(
    @NombreCategoria VARCHAR(100),
    @Descripcion VARCHAR(250),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM CategoriasProducto
        WHERE NombreCategoria = @NombreCategoria
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'La categoría ya existe.';
        RETURN;
    END

    INSERT INTO CategoriasProducto
    (
        NombreCategoria,
        Descripcion,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @NombreCategoria,
        @Descripcion,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Categoría registrada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_EDITAR]
(
    @IdInsumo INT,
    @Codigo VARCHAR(50),
    @NombreInsumo VARCHAR(150),
    @Descripcion VARCHAR(300),
    @IdCategoriaInsumo INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2),
    @Estado BIT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Insumos
        WHERE Codigo = @Codigo
        AND IdInsumo <> @IdInsumo
    )
    BEGIN
        RAISERROR('El código ya existe.',16,1)
        RETURN
    END

    UPDATE Insumos
    SET
        Codigo = @Codigo,
        NombreInsumo = @NombreInsumo,
        Descripcion = @Descripcion,
        IdCategoriaInsumo = @IdCategoriaInsumo,
        IdUnidadMedida = @IdUnidadMedida,
        StockMinimo = @StockMinimo,
        Estado = @Estado
    WHERE IdInsumo = @IdInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_ELIMINAR]
(
    @IdInsumo INT
)
AS
BEGIN

    DELETE FROM Insumos
    WHERE IdInsumo = @IdInsumo

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_LISTAR]
AS
BEGIN

    SELECT
        I.IdInsumo,
        I.Codigo,
        I.NombreInsumo,
        I.Descripcion,
        I.IdCategoriaInsumo,
        CI.NombreCategoria,
        I.IdUnidadMedida,
        UM.NombreUnidad,
        UM.Abreviatura,
        I.StockMinimo,
        I.Estado,
        I.FechaRegistro
    FROM Insumos I
    INNER JOIN CategoriasInsumo CI
        ON I.IdCategoriaInsumo = CI.IdCategoriaInsumo
    INNER JOIN UnidadesMedida UM
        ON I.IdUnidadMedida = UM.IdUnidadMedida
    ORDER BY I.NombreInsumo;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_INSUMO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ALM_INSUMO_REGISTRAR]
(
    @Codigo VARCHAR(50),
    @NombreInsumo VARCHAR(150),
    @Descripcion VARCHAR(300),
    @IdCategoriaInsumo INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2)
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Insumos
        WHERE Codigo = @Codigo
    )
    BEGIN
        RAISERROR('El código ya existe.',16,1)
        RETURN
    END

    INSERT INTO Insumos
    (
        Codigo,
        NombreInsumo,
        Descripcion,
        IdCategoriaInsumo,
        IdUnidadMedida,
        StockMinimo
    )
    VALUES
    (
        @Codigo,
        @NombreInsumo,
        @Descripcion,
        @IdCategoriaInsumo,
        @IdUnidadMedida,
        @StockMinimo
    )

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_EDITAR]
(
    @IdProducto INT,
    @Codigo VARCHAR(50),
    @NombreProducto VARCHAR(150),
    @Descripcion VARCHAR(250),
    @IdCategoriaProducto INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Productos
        WHERE Codigo = @Codigo
        AND IdProducto <> @IdProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro producto con ese código.';
        RETURN;
    END

    IF EXISTS
    (
        SELECT 1
        FROM Productos
        WHERE NombreProducto = @NombreProducto
        AND IdProducto <> @IdProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro producto con ese nombre.';
        RETURN;
    END

    UPDATE Productos
    SET
        Codigo = @Codigo,
        NombreProducto = @NombreProducto,
        Descripcion = @Descripcion,
        IdCategoriaProducto = @IdCategoriaProducto,
        IdUnidadMedida = @IdUnidadMedida,
        StockMinimo = @StockMinimo,
        Estado = @Estado
    WHERE IdProducto = @IdProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Producto actualizado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_ELIMINAR]
(
    @IdProducto INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Productos
    WHERE IdProducto = @IdProducto;

    SET @Resultado = 1;
    SET @Mensaje = 'Producto eliminado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.IdProducto,
        P.Codigo,
        P.NombreProducto,
        P.Descripcion,
        P.IdCategoriaProducto,
        C.NombreCategoria,
        P.IdUnidadMedida,
        U.NombreUnidad,
        U.Abreviatura AS AbreviaturaUnidad,
        P.StockMinimo,
        P.Estado,
        P.FechaRegistro
    FROM Productos P
    INNER JOIN CategoriasProducto C 
        ON C.IdCategoriaProducto = P.IdCategoriaProducto
    INNER JOIN UnidadesMedida U 
        ON U.IdUnidadMedida = P.IdUnidadMedida
    ORDER BY P.NombreProducto ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_PRODUCTO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_PRODUCTO_REGISTRAR]
(
    @Codigo VARCHAR(50),
    @NombreProducto VARCHAR(150),
    @Descripcion VARCHAR(250),
    @IdCategoriaProducto INT,
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(18,2),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Productos WHERE Codigo = @Codigo)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe un producto con ese código.';
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Productos WHERE NombreProducto = @NombreProducto)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe un producto con ese nombre.';
        RETURN;
    END

    INSERT INTO Productos
    (
        Codigo,
        NombreProducto,
        Descripcion,
        IdCategoriaProducto,
        IdUnidadMedida,
        StockMinimo,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @Codigo,
        @NombreProducto,
        @Descripcion,
        @IdCategoriaProducto,
        @IdUnidadMedida,
        @StockMinimo,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Producto registrado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_EDITAR]
(
    @IdUnidadMedida INT,
    @NombreUnidad VARCHAR(100),
    @Abreviatura VARCHAR(20),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM UnidadesMedida
        WHERE NombreUnidad = @NombreUnidad
        AND IdUnidadMedida <> @IdUnidadMedida
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otra unidad de medida con ese nombre.';
        RETURN;
    END

    UPDATE UnidadesMedida
    SET
        NombreUnidad = @NombreUnidad,
        Abreviatura = @Abreviatura,
        Estado = @Estado
    WHERE IdUnidadMedida = @IdUnidadMedida;

    SET @Resultado = 1;
    SET @Mensaje = 'Unidad de medida actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_ELIMINAR]
(
    @IdUnidadMedida INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM UnidadesMedida
    WHERE IdUnidadMedida = @IdUnidadMedida;

    SET @Resultado = 1;
    SET @Mensaje = 'Unidad de medida eliminada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdUnidadMedida,
        NombreUnidad,
        Abreviatura,
        Estado,
        FechaRegistro
    FROM UnidadesMedida
    ORDER BY NombreUnidad ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ALM_UNIDAD_MEDIDA_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ALM_UNIDAD_MEDIDA_REGISTRAR]
(
    @NombreUnidad VARCHAR(100),
    @Abreviatura VARCHAR(20),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM UnidadesMedida
        WHERE NombreUnidad = @NombreUnidad
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'La unidad de medida ya existe.';
        RETURN;
    END

    INSERT INTO UnidadesMedida
    (
        NombreUnidad,
        Abreviatura,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @NombreUnidad,
        @Abreviatura,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Unidad de medida registrada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_EDITAR]
(
    @IdCargo INT,
    @NombreCargo VARCHAR(100),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Cargos
        WHERE NombreCargo = @NombreCargo
        AND IdCargo <> @IdCargo
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'Ya existe otro cargo con ese nombre'
        RETURN
    END

    UPDATE Cargos
    SET
        NombreCargo = @NombreCargo,
        Estado = @Estado
    WHERE IdCargo = @IdCargo

    SET @Resultado = 1
    SET @Mensaje = 'Cargo actualizado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_ELIMINAR]
(
    @IdCargo INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Empleados
        WHERE IdCargo = @IdCargo
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'No se puede eliminar el cargo porque está asociado a uno o más empleados.'
        RETURN
    END

    DELETE FROM Cargos
    WHERE IdCargo = @IdCargo

    SET @Resultado = 1
    SET @Mensaje = 'Cargo eliminado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdCargo,
        NombreCargo,
        Estado,
        FechaRegistro
    FROM Cargos
    ORDER BY NombreCargo ASC
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_CARGO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SEG_CARGO_REGISTRAR]
(
    @NombreCargo VARCHAR(100),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Cargos
        WHERE NombreCargo = @NombreCargo
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'El cargo ya existe'
        RETURN
    END

    INSERT INTO Cargos
    (
        NombreCargo,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @NombreCargo,
        1,
        GETDATE()
    )

    SET @Resultado = 1
    SET @Mensaje = 'Cargo registrado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_EDITAR]
(
    @IdEmpleado INT,
    @TipoDocumento VARCHAR(20),
    @NumeroDocumento VARCHAR(20),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Sexo VARCHAR(20),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @Direccion VARCHAR(200),
    @IdCargo INT,
    @FechaNacimiento DATE = NULL,
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Empleados
        WHERE NumeroDocumento = @NumeroDocumento
        AND IdEmpleado <> @IdEmpleado
    )
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'Ya existe otro empleado con ese número de documento'
        RETURN
    END

    UPDATE Empleados
    SET
        TipoDocumento = @TipoDocumento,
        NumeroDocumento = @NumeroDocumento,
        Nombre = @Nombre,
        Apellido = @Apellido,
        Sexo = @Sexo,
        Telefono = @Telefono,
        Email = @Email,
        Direccion = @Direccion,
        IdCargo = @IdCargo,
        FechaNacimiento = @FechaNacimiento,
        Estado = @Estado
    WHERE IdEmpleado = @IdEmpleado

    SET @Resultado = 1
    SET @Mensaje = 'Empleado actualizado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_ELIMINAR]
(
    @IdEmpleado INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuarios WHERE IdEmpleado = @IdEmpleado)
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'No se puede eliminar el empleado porque está asociado a un usuario.'
        RETURN
    END

    DELETE FROM Empleados
    WHERE IdEmpleado = @IdEmpleado

    SET @Resultado = 1
    SET @Mensaje = 'Empleado eliminado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        E.IdEmpleado,
        E.TipoDocumento,
        E.NumeroDocumento,
        E.Nombre,
        E.Apellido,
        E.Sexo,
        E.Telefono,
        E.Email,
        E.Direccion,
        E.IdCargo,
        C.NombreCargo,
        E.FechaNacimiento,
        E.FechaRegistro,
        E.Estado
    FROM Empleados E
    INNER JOIN Cargos C ON C.IdCargo = E.IdCargo
    ORDER BY E.Apellido, E.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_EMPLEADO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_EMPLEADO_REGISTRAR]
(
    @TipoDocumento VARCHAR(20),
    @NumeroDocumento VARCHAR(20),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Sexo VARCHAR(20),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @Direccion VARCHAR(200),
    @IdCargo INT,
    @FechaNacimiento DATE = NULL,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Empleados WHERE NumeroDocumento = @NumeroDocumento)
    BEGIN
        SET @Resultado = 0
        SET @Mensaje = 'Ya existe un empleado con ese número de documento'
        RETURN
    END

    INSERT INTO Empleados
    (
        TipoDocumento,
        NumeroDocumento,
        Nombre,
        Apellido,
        Sexo,
        Telefono,
        Email,
        Direccion,
        IdCargo,
        FechaNacimiento,
        FechaRegistro,
        Estado
    )
    VALUES
    (
        @TipoDocumento,
        @NumeroDocumento,
        @Nombre,
        @Apellido,
        @Sexo,
        @Telefono,
        @Email,
        @Direccion,
        @IdCargo,
        @FechaNacimiento,
        GETDATE(),
        1
    )

    SET @Resultado = 1
    SET @Mensaje = 'Empleado registrado correctamente'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_MENU_LISTAR_POR_ROL]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_SEG_MENU_LISTAR_POR_ROL]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.IdMenu,
        m.NombreMenu,
        m.IdMenuPadre,
        m.Orden,
        CAST(
            CASE 
                WHEN pm.IdPermisoMenu IS NULL THEN 0
                ELSE pm.PuedeVer
            END 
        AS BIT) AS TienePermiso
    FROM Menu m
    LEFT JOIN PermisosMenu pm
        ON pm.IdMenu = m.IdMenu
        AND pm.IdRol = @IdRol
    WHERE m.Estado = 1
    ORDER BY 
        ISNULL(m.IdMenuPadre, m.IdMenu),
        m.IdMenuPadre,
        m.Orden;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_MENU_OBTENERPORROL]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_SEG_MENU_OBTENERPORROL]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.NombreMenu
    FROM PermisosMenu pm
    INNER JOIN Menu m
        ON m.IdMenu = pm.IdMenu
    WHERE 
        pm.IdRol = @IdRol
        AND pm.PuedeVer = 1
        AND m.Estado = 1
    ORDER BY m.Orden;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_EDITAR]
(
    @IdParametro INT,
    @CodigoParametro VARCHAR(100),
    @NombreParametro VARCHAR(150),
    @ValorParametro VARCHAR(500),
    @Descripcion VARCHAR(250),
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Parametros
        WHERE CodigoParametro = @CodigoParametro
        AND IdParametro <> @IdParametro
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro parámetro con ese código.';
        RETURN;
    END

    UPDATE Parametros
    SET
        CodigoParametro = @CodigoParametro,
        NombreParametro = @NombreParametro,
        ValorParametro = @ValorParametro,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdParametro = @IdParametro;

    SET @Resultado = 1;
    SET @Mensaje = 'Parámetro actualizado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_ELIMINAR]
(
    @IdParametro INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Parametros
    WHERE IdParametro = @IdParametro;

    SET @Resultado = 1;
    SET @Mensaje = 'Parámetro eliminado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdParametro,
        CodigoParametro,
        NombreParametro,
        ValorParametro,
        Descripcion,
        Estado,
        FechaRegistro
    FROM Parametros
    ORDER BY NombreParametro ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_OBTENER_POR_CODIGO]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_OBTENER_POR_CODIGO]
(
    @CodigoParametro VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdParametro,
        CodigoParametro,
        NombreParametro,
        ValorParametro,
        Descripcion,
        Estado,
        FechaRegistro
    FROM Parametros
    WHERE CodigoParametro = @CodigoParametro
    AND Estado = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PARAMETRO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_PARAMETRO_REGISTRAR]
(
    @CodigoParametro VARCHAR(100),
    @NombreParametro VARCHAR(150),
    @ValorParametro VARCHAR(500),
    @Descripcion VARCHAR(250),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Parametros
        WHERE CodigoParametro = @CodigoParametro
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe un parámetro con ese código.';
        RETURN;
    END

    INSERT INTO Parametros
    (
        CodigoParametro,
        NombreParametro,
        ValorParametro,
        Descripcion,
        Estado,
        FechaRegistro
    )
    VALUES
    (
        @CodigoParametro,
        @NombreParametro,
        @ValorParametro,
        @Descripcion,
        1,
        GETDATE()
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Parámetro registrado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_PERMISO_MENU_GUARDAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_PERMISO_MENU_GUARDAR]
    @IdRol INT,
    @IdMenu INT,
    @PuedeVer BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM PermisosMenu
        WHERE IdRol = @IdRol
        AND IdMenu = @IdMenu
    )
    BEGIN
        UPDATE PermisosMenu
        SET PuedeVer = @PuedeVer
        WHERE IdRol = @IdRol
        AND IdMenu = @IdMenu;
    END
    ELSE
    BEGIN
        INSERT INTO PermisosMenu
        (
            IdRol,
            IdMenu,
            PuedeVer
        )
        VALUES
        (
            @IdRol,
            @IdMenu,
            @PuedeVer
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_ROL_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_ROL_EDITAR]
    @IdRol INT,
    @NombreRol VARCHAR(50),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Roles
    SET 
        NombreRol = @NombreRol,
        Estado = @Estado
    WHERE IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_ROL_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_ROL_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdRol,
        NombreRol,
        Estado,
        FechaRegistro
    FROM Roles
    ORDER BY IdRol DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_ROL_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_ROL_REGISTRAR]
    @NombreRol VARCHAR(50),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Roles
    (
        NombreRol,
        Estado
    )
    VALUES
    (
        @NombreRol,
        @Estado
    );
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_CAMBIAR_CLAVE]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_CAMBIAR_CLAVE]
(
    @IdUsuario INT,
    @ClaveActual VARCHAR(255),
    @ClaveNueva VARCHAR(255),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Usuarios
        WHERE IdUsuario = @IdUsuario
        AND Clave = @ClaveActual
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'La clave actual no es correcta.';
        RETURN;
    END

    UPDATE Usuarios
    SET Clave = @ClaveNueva
    WHERE IdUsuario = @IdUsuario;

    SET @Resultado = 1;
    SET @Mensaje = 'Clave actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_EDITAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_EDITAR]
(
    @IdUsuario INT,
    @IdEmpleado INT,
    @NombreUsuario VARCHAR(50),
    @Clave VARCHAR(255),
    @IdRol INT,
    @Estado BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Usuarios
        WHERE IdEmpleado = @IdEmpleado
        AND IdUsuario <> @IdUsuario
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El empleado seleccionado ya tiene otro usuario asignado.';
        RETURN;
    END

    IF EXISTS
    (
        SELECT 1
        FROM Usuarios
        WHERE NombreUsuario = @NombreUsuario
        AND IdUsuario <> @IdUsuario
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El nombre de usuario ya existe.';
        RETURN;
    END

    UPDATE Usuarios
    SET
        IdEmpleado = @IdEmpleado,
        NombreUsuario = @NombreUsuario,
        Clave = @Clave,
        IdRol = @IdRol,
        Estado = @Estado
    WHERE IdUsuario = @IdUsuario;

    SET @Resultado = 1;
    SET @Mensaje = 'Usuario actualizado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_ELIMINAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_ELIMINAR]
(
    @IdUsuario INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Usuarios
    WHERE IdUsuario = @IdUsuario;

    SET @Resultado = 1;
    SET @Mensaje = 'Usuario eliminado correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_LISTAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_LISTAR]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        U.IdUsuario,
        U.IdEmpleado,
        CONCAT(E.Nombre, ' ', E.Apellido) AS NombreEmpleado,
        U.NombreUsuario,
        U.Clave,
        U.IdRol,
        R.NombreRol,
        U.FechaRegistro,
        U.Estado
    FROM Usuarios U
    INNER JOIN Empleados E ON E.IdEmpleado = U.IdEmpleado
    INNER JOIN Roles R ON R.IdRol = U.IdRol
    ORDER BY U.IdUsuario DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_LOGIN]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_LOGIN]
    @Usuario VARCHAR(50),
    @Clave VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.IdUsuario,
        u.NombreUsuario,
        u.Clave,
        e.Nombre + ' ' + e.Apellido AS NombreCompleto,
        u.IdRol,
        r.NombreRol,
        u.Estado
    FROM Usuarios u
    INNER JOIN Empleados e
        ON e.IdEmpleado = u.IdEmpleado
    INNER JOIN Roles r
        ON r.IdRol = u.IdRol
    WHERE
        u.NombreUsuario = @Usuario
        AND u.Clave = @Clave
        AND u.Estado = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SEG_USUARIO_REGISTRAR]    Script Date: 08/05/2026 11:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_SEG_USUARIO_REGISTRAR]
(
    @IdEmpleado INT,
    @NombreUsuario VARCHAR(50),
    @Clave VARCHAR(255),
    @IdRol INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuarios WHERE IdEmpleado = @IdEmpleado)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El empleado seleccionado ya tiene un usuario asignado.';
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Usuarios WHERE NombreUsuario = @NombreUsuario)
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El nombre de usuario ya existe.';
        RETURN;
    END

    INSERT INTO Usuarios
    (
        IdEmpleado,
        NombreUsuario,
        Clave,
        IdRol,
        FechaRegistro,
        Estado
    )
    VALUES
    (
        @IdEmpleado,
        @NombreUsuario,
        @Clave,
        @IdRol,
        GETDATE(),
        1
    );

    SET @Resultado = 1;
    SET @Mensaje = 'Usuario registrado correctamente.';
END
GO
